In [1]:
import pandas
import numpy
from pandas.plotting import scatter_matrix
import matplotlib.pyplot as plt
from matplotlib import pyplot
from sklearn.preprocessing import MinMaxScaler, StandardScaler, Normalizer, Binarizer, OneHotEncoder
from sklearn.feature_selection import SelectKBest,RFE, chi2
from sklearn.model_selection import KFold,cross_val_score
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.model_selection import train_test_split
import seaborn as sns
from sklearn.model_selection import KFold
import xgboost as xgb

In [2]:
train_dataset = pandas.read_csv('./data/train.csv')
test_dataset = pandas.read_csv('./data/test.csv')

In [3]:
train_dataset = train_dataset.drop(['Alley','FireplaceQu','PoolQC','Fence','MiscFeature'],axis=1)

In [4]:
cols_to_modify = ["MasVnrType","MasVnrArea","BsmtQual","BsmtCond","BsmtExposure","BsmtFinType1","BsmtFinType2","Electrical","GarageType","GarageYrBlt","GarageFinish","LotFrontage","GarageQual","GarageCond"]
fill_empty_numbers = lambda colname: train_dataset[colname].fillna(numpy.nanmean(train_dataset[colname], dtype=numpy.float64), inplace=True)
# train_dataset.dtypes(cols_to_modify)# 
f = lambda x: print(train_dataset.dtypes[x])
for col in cols_to_modify:
    col_type = train_dataset.dtypes[col]
    print(col+": "+str( col_type))
    if(col_type == numpy.float64):
        print('Do some magic')
        fill_empty_numbers(col)
    elif (col_type == numpy.object):
        print('String catched, doing someother magic')
        train_dataset[col].value_counts()
        train_dataset[col].isna()
        high_value = train_dataset[col].mode().item()
        train_dataset[col] = train_dataset[col].fillna(high_value)
    else:
        print('Type not recognized')

MasVnrType: object
String catched, doing someother magic
MasVnrArea: float64
Do some magic
BsmtQual: object
String catched, doing someother magic
BsmtCond: object
String catched, doing someother magic
BsmtExposure: object
String catched, doing someother magic
BsmtFinType1: object
String catched, doing someother magic
BsmtFinType2: object
String catched, doing someother magic
Electrical: object
String catched, doing someother magic
GarageType: object
String catched, doing someother magic
GarageYrBlt: float64
Do some magic
GarageFinish: object
String catched, doing someother magic
LotFrontage: float64
Do some magic
GarageQual: object
String catched, doing someother magic
GarageCond: object
String catched, doing someother magic

In [ ]:
xy = pandas.get_dummies(train_dataset)
xy.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,0,0,1,0,0,0,0,1,0
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,0,0,0,1,0,0,0,0,1,0
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,0,0,1,0,0,0,0,1,0
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,0,0,1,1,0,0,0,0,0
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,0,0,0,1,0,0,0,0,1,0

In [ ]:
sale_price_col = xy["SalePrice"]
xy  = xy.drop(['SalePrice'],axis=1)

In [ ]:
test_size = 0.33
seed = 7
X_train, X_test, Y_train, Y_test = train_test_split(xy, sale_price_col, test_size=test_size, random_state=seed)

In [ ]:
xg_reg = xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)

In [ ]:
xg_reg.fit(X_train,Y_train)

In [7]:
# First XGBoost model for Pima Indians dataset
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
# load data
dataset = loadtxt('./data/pima-indians-diabetes.data.csv', delimiter=",")
# split data into X and y
X = dataset[:,0:8]
Y = dataset[:,8]
# split data into train and test sets
seed = 7
test_size = 0.33
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)
# fit model no training data
model = XGBClassifier()
model.fit(X_train, y_train)
# make predictions for test data
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]
# evaluate predictions
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 77.95%